<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Vue学习代码</title>
</head>
<body>
<div id="app">
	{{ message }}
</div>

<hr />
<div id="app-2">
	<span v-bind:title="message">
		鼠标悬停几秒钟查看此处动态绑定的提示信息！
	</span>
</div>

<hr />
<div id="app-3">
	<p v-if="seen">
		现在你看到我了
	</p>
</div>

<hr />
<div id="app-4">
	<ol>
		<li v-for="todo in todos">
			{{
			todo.text
			}}
		</li>
	</ol>
</div>

<hr />
<div id="app-5">
	<p>
		{{message}}
	</p>
	<button v-on:click="reverseMessage">
		反转消息
	</button>
</div>
<hr />
<!--   v-model 指令，它能轻松实现表单输入和应用状态之间的双向绑定    -->
<div id="app-6">
	<p>
		{{message}}
	</p>
	<input v-model="message">
</div>

<hr />
<!--    组件     -->
<div id="app-7">
	<ol>
		<todo-item
				v-for="item in groceryList"
				v-bind:todo="item"
				v-bind:key="item.id">
		</todo-item>
	</ol>
</div>

<hr />
<div id="app-8">
	<p>{{foo}}</p>
	<button v-on:click="foo = 'baz'">Change it</button>
</div>

<hr />
<!--   计算属性    -->
<div id="computed">
	<p>Original message: "{{ message }}"</p>
	<p>Computed reversed message: "{{ reversedMessage }}"</p>
</div>

<hr />
<!--    侦听属性    -->
<div id="watch">
	{{fullName}}
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
var app = new Vue({
	el   : '#app',
	data : {
		message : 'Hello Vue!'
	}
});
var app2 = new Vue({
	el   : '#app-2',
	data : {
		message : '页面加载于' + new Date().toLocaleString()
	}
});
var app3 = new Vue({
	el   : '#app-3',
	data : {
		seen : true
	}
});
var app4 = new Vue({
	el   : '#app-4',
	data : {
		todos : [
			{ text : '学习 JavaScript' },
			{ text : '学习 Vue' },
			{ text : '整个牛项目' },
		]
	}
});
var app5 = new Vue({
	el      : '#app-5',
	data    : {
		message : 'Hello Vue.js!'
	},
	methods : {
		reverseMessage : function() {
			this.message = this.message.split('').reverse().join('')
		}
	}
});
var app6 = new Vue({
	el   : '#app-6',
	data : {
		message : 'Hello Vue.js!'
	}
});

Vue.component('todo-item', {
	props    : ['todo'],
	template : '<li>{{todo.text}}</li>'
});

var app7 = new Vue({
	el   : '#app-7',
	data : {
		groceryList : [
			{ id : 0, text : '蔬菜' },
			{ id : 1, text : '奶酪' },
			{ id : 2, text : '随便其他什么人吃的东西' },
		]
	}
});

var obj = {
	foo : 'bar'
};
Object.freeze(obj);
new Vue({
	el   : '#app-8',
	data : obj
});

// 计算属性是基于它们的响应式依赖进行缓存的
var computed = new Vue({
	el       : '#computed',
	data     : {
		message : 'Hello'
	},
	computed : {
		// 计算属性的getter
		reversedMessage : function() {
			// return this.message.split('').reverse().join('')
			return Date.now()
		}
	}
});

// 侦听属性
var watch = new Vue({
	el    : '#watch',
	data  : {
		firstName : 'Foo',
		lastName  : 'Bar',
		fullName  : 'Foo Bar'
	},
	watch : {
		firstName : function(val) {
			this.fullName = val + ' ' + this.lastName
		},
		lastName  : function(val) {
			this.fullName = this.firstName + ' ' + val
		}
	}
})
</script>
</html>